
/**
 * Map Styles
 */
div.wp_geo_map {
	overflow: hidden;
}

/**
 * Try to fix theme with image background colours
 */
div.wp_geo_map img,
#content div.wp_geo_map img,
div.wpgeo_map img,
#content div.wpgeo_map img,
body #wp_geo_map img {
	background: transparent;
	border: none;
	padding: 0px;
}

/**
 * Try to fix theme images with max-width or box shadow
 */
div.wp_geo_map img,
#content div.wp_geo_map img,
#content .attachment div.wp_geo_map img,
#sidebar div.wp_geo_map img,
div.wpgeo_map img,
#content div.wpgeo_map img,
#content .attachment div.wpgeo_map img,
#sidebar div.wpgeo_map img {
	box-shadow: none;
	max-width: none;
}

/**
 * Tooltip Styles
 */
div.tooltip {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	color: #000000;
	font-weight: bold;
	padding: 3px;
	text-transform: uppercase;
	white-space: nowrap;
}
#tooltip2 {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	color: #000000;
	display: none;
	font-family: Arial, sans-serif;
	font-size: 11px;
	max-width: 300px;
	padding: 3px 5px;
	position: absolute;
	text-align: left;
	z-index: 1000;
}

/**
 * Admin Styles
 */
.wp_geo_error,
.wp_geo_error a:link,
.wp_geo_error a:visited {
	color: #CC0000;
}
.wp_geo_error a:hover,
.wp_geo_error a:active {
	color: #333333;
}
.donate-links {
	background-color: #F3F3F3;
	border: solid 1px #E9E9E9;
	margin-right: 100px;
	padding: 1px 10px;
	-webkit-border-radius: 4px;
	 -khtml-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}
.wpgeo-inner-admin-table th {
	font-weight: normal;
	padding-top: 5px;
	padding-bottom: 5px;
	width: auto;
}
.wpgeo-inner-admin-table td {
	padding-top: 0px;
	padding-bottom: 0px;
}

/**
 * Data Styles
 * These styles are used to display map data as HTML if Javascript is disabled
 * (only applied to development version at present)
 */
.wp-geo-mapdata {
	background-color: #F9F9F9;
	border: solid 1px #E9E9E9;
	/*display: none;*/
}
.wp-geo-mapdata .wp-geo-width:before {
	content: "width: ";
}
.wp-geo-mapdata .wp-geo-height:before {
	content: "height: ";
}
.wp-geo-mapdata .wp-geo-type:before {
	content: "type: ";
}
.wp-geo-mapdata .wp-geo-zoom:before {
	content: "zoom: ";
}
.wp-geo-mapdata .wp-geo-controls:before {
	content: "controls: ";
}
.wp-geo-mapdata .wp-geo-controltypes:before {
	content: "controltypes: ";
}
.wp-geo-mapdata .wp-geo-scale:before {
	content: "scale: ";
}
.wp-geo-mapdata .wp-geo-overview:before {
	content: "overview: ";
}
.wp-geo-mapdata .wp-geo-marker:before {
	content: "marker: ";
}
